*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;

}
.clearFix{
    float: none;
    clear: both;
}
body{
    background: url(../img/hojas.jpg);
    background-attachment: fixed;
}
#global{
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 2px gray;
}

#logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    background: #235e3d;
    color: white;
    text-align: center;
    width: 385px;
    height: 80px;
    float: left;
    margin-bottom: 20px;
    line-height: 3.4em;
}

#menu{
    font-family: Helvetica,Arial;
    width: 100%;
    margin-bottom: 20px;
    background: black;
}
#menu ul{
    line-height: 46px;
    list-style: none;
}
#menu ul li{
    height: 46px;
    display: inline-block;
    transition: all 300ms;
}
#menu ul li a{
    display: block;
    color:white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}
#menu ul li a:hover{
    color: rgb(30, 203, 30);
}
